TABLE {
  border-collapse: collapse;
}

TABLE TD {
  padding: 4px;
}

.inline {
    display: inline;
}

#user_info {
    float: right; 
    width: 250px;
    color: #588C8C;
}

#context {
    color: #011C26;
}

.message {
    color: #D9042B;
}

.error {
    color: #D9042B;
}

#menu {
    color: #6B0C22;
}
#how_to_import {
    float: right; 
    position: relative;
    width: 250px;
}
#how_to_import_ul {
    display:none;
}
#add_team {
    width: 810px;
    float: left;
}
#add_team_new {
    position:relative; 
    float: left;
    top:10px; 
    width:300px; 
    z-index:1
}
#add_team_listed {
    position:relative;
    top:10px; 
    width:500px; 
    float: right; 
    z-index:1
}