<p>
<b>Имя и фамилия:</b>
<%= @user.name %>
</p>
<p>
<b>Email:</b>
<%= @user.email %>
</p>

<p>
<%=link_to "Сменить пароль", edit_password_path %>
</p>
<%= link_to_function 'Назад', 'history.back()' %>