<% if @my_items && !@my_items.empty? %>
<% @my_items.each do |item| %>
	<p><%= context_array(item.parents_top_down(:with_me)) %></p>
<% end %>
<% else %>
<p>
Хронотоп (от др.-гр. χρόνος, «время» и τόπος, «место») — литературоведческий термин, введённый М. М. Бахтиным. Под хронотопом Бахтин понимает «существенную взаимосвязь временны́х и пространственных отношений».
</p>
<% end %>
