<a href="#" id="how_to_import_link">Как импортировать результаты целого тура из Excel или аналогичной программы (Calc, OpenOffice)</a>
<ul id="how_to_import_ul">
<li>(Результаты должны быть в Excel таблице, причем правильный ответ должен обозначаться как "1" или "+". Результаты одной команды - одна строка, пустых строк между ними быть не должно)</li>
<li>Добавьте здесь все игравшие команды, чтобы они были в том же копядке, что и в Excel</li>
<li>В Excel выделите только повопросные результаты тура (без названий команд или суммарных результатов) и скопируйте их в буфер обмена (Ctrl-C)</li>
<li>Кликните здесь на "Импорт тура из Excel" соответствующего тура</li>
<li>Скопируйте буфер обмена в открывшееся окно (Ctrl-V) и кликните на "Импортировать"</li>
<li>Обязательно проверьте, все ли правильно - по крайней мере суммарные результаты</li>
</ul>
