<!--http://www.queness.com/post/77/simple-jquery-modal-window-tutorial-->
<div id="boxes">
<div id="dialog" class="window">Импорт тура из Excel | 
<a href="#" class="import">Импортировать</a>
<a href="#" class="close">Закрыть</a>
<textarea id='excel_input'></textarea>
</div>
  <div id="mask"></div>
</div>

