<% if @event.game.tournament.cap_name_required %>
  <p>
    <%= label_tag "Имя и фамилия капитана" %><br />
    <%= text_field_tag("cap_name", "", {:size => 30, :id => "#{prefix}_cap_name"}) %>
  </p>
<% end %>