<h1>Изменить параметры этапа / <%=h @game.to_s %></h1>

<%= render :partial => "input" %>

<%= link_to 'Показать', @game %> |
<%= link_to 'Все этапы турнира', tournament_games_path(@game.tournament) %>