<table>
  <tr>
    <th>Название</th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%=h city.name %></td>
    <td><%= link_to 'Изменить', edit_city_path(city) %></td>
    <td><%= link_to 'Удалить', city, :confirm => 'Вы уверены?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Добавить город', new_city_path if is_org_of_any_tournament? %>