<% if logged_in? %>
	<%= link_to 'Домой', home_path %>
	<%= link_to 'Турниры', tournaments_path %>
	<%= link_to 'Города', cities_path if is_admin? %>
	<a href="/new_error">Сообщить об ошибке</a>
<% end %>
<a href="/about.html">Что такое синхронотоп</a>
